
@font-face {
    font-family: "ClashGrotesk";
    src: url("/fonts/clash-grotesk/Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ClashGrotesk";
    src: url("/fonts/clash-grotesk/Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "ClashGrotesk";
    src: url("/fonts/clash-grotesk/Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}